@font-face {
    font-family: raleway;
    src: url('./assets/fonts/Raleway.woff2');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    --swC1: #377781;
    --swC2: #0692A3;
    --swC3: #86E2EF;
    --black: #272727;
}
html{
    scroll-behavior: smooth;
    font-family: raleway;
    box-sizing: border-box;
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}
*,
*:before,
*:after{
    box-sizing: inherit;
    /* margin: 0;
    padding: 0; */
}
a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
}
/* --------------------NAVIGATION---------------------- */
.jumbo{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;
}
#home{
    grid-column: 1;
    padding: 8%;
    font-size: 30px;
    color: darkslategray;
    width: 300px;
}
#backBtn{
    transform: rotate(180deg);
    position: relative;
    top: -10%;
}
.menu ul{
    grid-column: 2;
    width: 1000px;
    padding: 5px;
    margin-left: 15%;
    letter-spacing: 0.1em;
    list-style: none;
    
}
.menu li{
    display: inline;
    margin: 2%;
}
.menu a{
    text-decoration: none;
    color: var(--swC1);
    font-size: 14px;
    font-weight: 500px;
    padding: 8px;
    border-top:0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
}
[aria-controls="menu-list"]{
    display: none;
}
.active{
    border-top:0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 4px solid var(--swC2);
}

/* --------------------- Main Content ----------------------------- */
.mainA{
    grid-column: 1/-1;
    height: 500px;
    margin-top: 5%;
    background: linear-gradient(180deg, #377781 0%, 
    rgba(46, 183, 204, 0.685) 99.61%, 
    rgba(114, 159, 166, 0.706077) 100%, rgba(255, 255, 255, 0) 100%),
    url('./assets/images/lordcheta1.jpg'); 
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position:bottom left;
    background-attachment: fixed;
}
.titleA{
    text-align: center;
    margin-top: 8%;
    margin-left: 55%;
    font-size: 50px;
    font-weight: 300;
}
#sw-bold{
    font-size: 70px;
    color: var(--swC1);
    letter-spacing: 0.25em;
}
.textA{
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: darkslategray;
    margin-top: -1%;
    margin-left: 50%;
    letter-spacing: 0.07em;
}
.mainB{
    grid-column: 1/-1;
    height: 600px;
    background: url('./assets/images/web.svg');
    background-repeat: no-repeat;
    background-size: 50% 70%; 
    background-position: bottom right;
}
.textB{
    text-align: center;
    margin-top: 5%;
    padding: 100px;
    font-size: 25px;
    color: darkslategray;
}
.mainC{
    grid-column: 1/-1;
    height: 600px;
    /* background: url('./assets/images/web.svg');
    background-repeat: no-repeat;
    background-size: 50% 70%; 
    background-position: bottom right; */
}
.titleC{
    width: 365px;
    font-size: 60px;
    font-weight: 300;
    color: var(--swC2);
    margin-left: 50px;
    padding: 5px;
    border-bottom: 2px solid darkslategray;
}
.ulC{
    list-style: url('./assets/images/Ellipse.svg');
    font-size: 40px;
    font-weight: 200px;
    color: darkslategray;
    margin-left: 30%;
    letter-spacing: 0.3em;
}
.ulC li{
    padding: 5px;
}
.textC{
    padding: 0 250px 0 250px;
    font-size: 20px;
    color: var(--swC1);
}
.the-team{
    grid-column: 1/-1;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: var(--swC1);
    align-content: center;
}
#team-title{
    grid-column: 2;
    text-align: end;
    padding-right: 30px;
    font-size: 40px;
    font-weight: 200px;
    color: #ffffff;
}
.swFoot{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 150px;
    /* background: var(--swC1); */
    color: var(--swC1);
    border-top: 1px solid rgb(180, 177, 177);
}
#sw{
    grid-column: 1/-1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #eee;
}
#foot-contact{
    grid-column: 1;
    padding: 20px
}
#extras{
    grid-column: 2;
    padding: 20px;
}
.social-media{
    grid-column: 4;
    padding: 20px;
}
#company{
    grid-column: 3;
    padding: 20px;
}
.sm-icons{
    width: 30px;
    height: 30px;
}
.uc{
    grid-column: 1/-1;
    margin-top: 20%;
    height: 300px;
    text-align: center;
}