@font-face {
    font-family: raleway;
    src: url('./assets/fonts/Raleway.woff2');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    --swC1: #377781;
    --swC2: #0692A3;
    --swC3: #86E2EF;
}
html{
    scroll-behavior: smooth;
    font-family: raleway;
    box-sizing: border-box;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
*,
*:before,
*:after{
    box-sizing: inherit;
    /* margin: 0;
    padding: 0; */
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
}
.containerA{
    grid-column: 1;
    grid-row: 1;
    display: inline-grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    height: 650px;
}
.topNav{
    position: top;
    top: 0;
    width: 100%;
    /* z-index: 1; */
    background: transparent;
}
.itemA{
    grid-column: 1;
    background: #fff;
    background: url('./assets/images/circles.svg');
    background-repeat: no-repeat;
    background-size: 70% 80%;
}
#logo{
    width: 15%;
    height: 13%;
    margin-top: 3%;
    margin-left: 3%;
}
#titleA{
    font-family: raleway;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 55px;
    color: #272727;
    z-index: 1;
    position: relative;
    top: 10%;
    left: 39.5%;
}
#textA{
    font-family: raleway;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #383535;
    z-index: 1;
    position: relative;
    top: 10%;
    left: 46%;
}
.itemB{
    grid-column: 2;
    background: linear-gradient(180deg, #377781 0%, 
    rgba(46, 183, 204, 0.685) 99.61%, 
    rgba(114, 159, 166, 0.706077) 100%, rgba(255, 255, 255, 0) 100%),
    url('./assets/images/back.jpg');
    background-repeat:no-repeat; 
    background-size: 100% 100%;
}
#contact{
    text-decoration: none;
    background: #fff;
    color: #272727;
    padding: 15px;
    font-size: 8px;
    font-family: raleway;
    font-weight: 600;
    margin-left: 45%;
}
#menu{
    background: transparent;
    border: 0 solid transparent;
    transform: rotate(-180deg);
    position: relative;
    width: 38px;
    height: 59px;
    left: 20%;
    top: 12px;
}
#titleB{
    font-family: raleway;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 55px;
    color: #272727;
    z-index: 1;
    position: relative;
    top: 50%;
    right: 37%;
}
#textB{
    font-family: raleway;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    color: #383535;
    z-index: 1;
    position: relative;
    top: 50%;
    right: 30%;
}

@media only screen and (max-width: 425px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #logo{
        width: 12%;
        height: 8%;
        margin-left: 18%;
    }
    #contact{
        text-decoration: none;
        background: #fff;
        color: #272727;
        font-size: 8px;
        font-family: raleway;
        font-weight: 600;
    }
    #menu{
        background: transparent;
        border: 0 solid transparent;
        transform: rotate(-180deg);
        position: relative;
        width: 38px;
        height: 59px;
        left: 20%;
        top: 12px;
    }
    .containerA{
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: auto auto;
        justify-content: center;
    }
    .itemA{
        grid-column: 1;
        grid-row: 1;
        background-size: 60% 70%;
        background-position: 15px;
    }
    #titleA{
        width: 600px;
        font-family: raleway;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #272727;
        z-index: 1;
        position: relative;
        top: 10%;
        left: 24%;
    }
    #textA{
        width: 300px;
        font-family: raleway;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 14px;
        color: #383535;
        z-index: 1;
        position: relative;
        top: 12%;
        left: 26%;
    }
    .itemB{
        grid-column: 1;
        grid-row: 2;
    }
    #titleB{
        /* width: 600px; */
        font-family: raleway;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #272727;
        z-index: 1;
        position: relative;
        top: 35%;
        left: 26%;
    }
    #textB{
        width: 250px;
        font-family: raleway;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 12px;
        color: #383535;
        z-index: 1;
        position: relative;
        top: 36%;
        left: 28%;
    }
    @media only screen and (max-width: 325px){
        #logo{
            width: 12%;
            height: 8%;
            margin-left: 28%;
        }
        #titleA{
            width: 600px;
            font-family: raleway;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 32px;
            color: #272727;
            z-index: 1;
            position: relative;
            top: 10%;
            left: 30%;
        }
        #textA{
            width: 300px;
            font-family: raleway;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            color: #383535;
            z-index: 1;
            position: relative;
            top: 12%;
            left: 32%;
        }
    }
}
.containerB{
    grid-column: 1;
    grid-row: 2;
    background: url('./assets/images/build.svg');
    text-align: end;
}
.titleC{
    font-family: raleway;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 55px;
    color: #377781;
}